<div class="header_notes">

</div>	


<div class= "btn_center">
	<button type="button" class="btn btn-default btn-lg"><%= link_to "New Note", new_entry_path %></button>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <% @entries.each do |entry| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= entry.id %>">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= entry.id %>" aria-expanded="true" aria-controls="collapse<%= entry.id %>">
          <%= entry.subject %>
        </a>
        </h4>
      </div>
      <div id="collapse<%= entry.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= entry.id %>">
        <div class="panel-body">
          <%= entry.contents %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
