<!DOCTYPE html>
<html>
<head>
  <title>DayBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
  	<h1><span style="font-size:.75em;"class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>DAYbook</h1>
  </div>
  </nav>
<header>
  <div class="title">
   		<h1>Bring order to your</h1>
    	<h1><span id="changing-word">thoughts.</span></h1>
    	<br>
    	<p>
    		<button type="button" class="btn btn-default btn-lg">  Sign Up  </button>
    	</p>
  </div>

</header>

<main>
  <h2>Information about Cheese Curds</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
</main>
  <!-- <img src="backdrop.jpeg" height="100%" width="100%"> -->


	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
<%= yield %>

</body>
</html>
